<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <!-- Leaflet -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- Maptiler -->
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v4.1.0/leaflet-maptilersdk.umd.min.js"></script>
    <!-- /Maptiler -->
    <!-- Lucid Icons -->
    <script src="https://unpkg.com/lucide@1.43.0"></script>
    <title>Recycle Map</title>
</head>
<body>
    <header>
        <h1>Recycle Map</h1>
    </header>
    <main>
        <div id="map"></div>
        <search>
            <form>
                <div class="input-wrapper">
                    <input
                    id="input-search" 
                    type="search"
                    name="search"
                    placeholder="O que você quer descartar hoje?"
                    aria-label="Search through site content"
                    list="cars"
                    autocomplete="off"
                    class="shadow">
                    <i data-lucide="search"></i>
                </div>
                <div id="search-result" class="hidden">
                    <ul>
                        {% for row in categories %}
                            <li class="search-result-item">
                                <div class="avatar-icon">
                                    <i data-lucide="{{ row['icon'] }}"></i>
                                </div>
                                <div class="content">
                                    <p class="text-body">{{ row["name"] }}</p>
                                    <p class="text-description">{{ row["description"] }}</p>
                                </div>
                            </li>
                        {% endfor %}   
                    </ul>
                </div>
            </form>
        </search>
        <div class="marker">
        </div>
        <div class="card">
            <div class="header">
                <div class="tag">
                    <i data-lucide="milestone"></i>
                    <p>Label</p>
                </div>
                <button class="close">
                    <i data-lucide="x"></i>
                </button>
            </div>
            <div class="content">
                <p class="title">Title</p>
                <p class="address">Address</p>
            </div>
            <ul>
                <li>Label</li>
            </ul>
            <button class="route">
                <i data-lucide="milestone"></i>
                Ver rota
            </button>
        </div>
    </main>
    <footer>
        Designed and coded by <a href="https://github.com/sabrigs">Sabrina Silva</a>
    </footer>
    <script>
        const places = [
            {% for place in places %}
            {
                id: {{ place["id"] }},
                name: {{ place["name"]|tojson }},
                latitude: {{ place["latitude"] }},
                longitude: {{ place["longitude"] }},
                category: {{ place["category"]|tojson }},
                items: {{ place["items"]|tojson }},
                link: {{ place["link"]|tojson }},
                address: {{ place["address"]|tojson }}
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
    </script>
    <script src="/static/script.js"></script>
</body>
</html>