<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.css"/>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.umd.min.js"></script>
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v4.1.0/leaflet-maptilersdk.umd.min.js"></script>
    <script src="https://unpkg.com/lucide@1.43.0"></script>
    <title>Recycle Map</title>
</head>
<body>
    <nav>
        <div class="left">
            <p class="logo">Recycle Map</p>
            <div class="location">
                <img src="/static/icon/map-pin.svg" alt="" aria-hidden="true">
                <p>Cachoeira do Sul</p>
            </div>
        </div>
        <div class="right">
            <a class="button-secondary" href="https://github.com/sabrigs/recycle-map" aria-label="Acesse o projeto no GitHub" target="_blank">
                <img src="/static/icon/github.svg" alt="" aria-hidden="true">
                GitHub
            </a>
        </div>
    </nav>
    <header>
        <img src="/static/hero.svg" alt="" aria-hidden="true">
        <div class="wrapper">
            <h1>E agora, onde eu levo?</h1>
            <p>Encontre pontos de coleta em Cachoeira do Sul e descubra onde descartar o que você não precisa mais.</p>
        </div>
        <a class="button-primary" href="#map">
            <img src="/static/icon/arrow-down.svg" alt="" aria-hidden="true">
            Explorar mapa
        </a>
    </header>
    <section>
        <form>
            <select id="category-select" name="category-select" aria-label="Selecione uma opção para filtrar">
                <button>
                    <selectedcontent></selectedcontent>
                </button>
                <option value="all">
                    <div class="icon">
                        <i data-lucide="sliders-horizontal" alt="" aria-hidden="true"></i>
                    </div>
                    <span class="text-body">Mostrar tudo</span>
                </option>
                {% for row in categories %}
                <option value="{{ row['name'] }}">
                    <div class="icon">
                        <i data-lucide="{{ row['icon'] }}" alt="" aria-hidden="true"></i>
                    </div>
                    <span class="text-body">{{ row["name"] }}</span>
                </option>
                {% endfor %}  
            </select>  
        </form>
        <div class="controls">
            <div class="zoom-control">
                <button class="zoom-in" aria-label="Aumentar zoom">
                    <i data-lucide="zoom-in" alt="" aria-hidden="true"></i>
                </button>
                <button class="zoom-out" aria-label="Diminuir zoom">
                    <i data-lucide="zoom-out" aria-hidden="true"></i>
                </button>
            </div>
            <button class="centralize-view" aria-label="Centralizar mapa">
                <i data-lucide="scan" aria-hidden="true"></i>
            </button>
        </div>
        <div id="card" class="hidden">
            <div class="header">
                <div class="tag">
                    <i data-lucide="milestone" alt="" aria-hidden="true"></i>
                    <p>Label</p>
                </div>
                <button class="close" aria-label="Fechar">
                    <i data-lucide="x" alt="" aria-hidden="true"></i>
                </button>
            </div>
            <div class="content">
                <p class="title">Title</p>
                <p class="address">Address</p>
            </div>
            <p class="description">Description</p>
            <a class="route-link button-primary" href="#" target="_blank">
                Ver rota
            </a>
        </div>
        <div id="map"></div>
    </section>
    <aside>
        <h2 class="title">Sobre o projeto</h2>
        <p class="body">O RecycleMap é um conceito criado para tornar mais visível a infraestrutura de descarte de Cachoeira do Sul, facilitando o acesso dos moradores a informação, e chamando a atenção para os lugares onde essa infraestrutura ainda pode chegar.</p>
        <p class="body">Foi idealizado por Sabrina durante o curso de liderança <a href="https://www-aspireleaders-org.translate.goog/program/aspire-leaders-program/?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt&_x_tr_pto=tc" target="_blank">Aspire</a> e desenvolvido como projeto final do <a href="https://www.edx.org/learn/computer-science/harvard-university-cs50-s-introduction-to-computer-science" target="_blank">CS50</a>, curso de introdução à Ciência da Computação de Harvard.</p>
        <div class="callout">
            <h3 class="title">
                <img src="/static/icon/info.svg" alt="" aria-hidden="true">
                Sobre os dados
            </h3>
            <p class="body">Os dados apresentados são fictícios e utilizados exclusivamente para demonstrar como esse tipo de informação poderia ser organizada e acessada pela comunidade.</p>
        </div>
    </aside>
    <footer>
        Designed and coded by <a href="https://github.com/sabrigs">Sabrina Silva</a>
    </footer>
    <script id="recycle-map-data" type="application/json">
        {{ {"places": places, "categories": categories} | tojson }}
    </script>
    <script src="/static/script.js"></script>
</body>
</html>