<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.css"/>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v4.1.0/maptiler-sdk.umd.min.js"></script>
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v4.1.0/leaflet-maptilersdk.umd.min.js"></script>
    <script src="https://unpkg.com/lucide@1.43.0"></script>
    <title>Recycle Map</title>
</head>
<body>
    <nav>
        <p>Recycle Map</p>
        <a class="button-secondary" href="">GitHub</a>
    </nav>
    <header>
        <img src="/static/hero.svg" alt="">
        <h1>E agora, onde eu levo?</h1>
        <p>Encontre pontos de coleta perto de você e descubra onde descartar o que você não precisa mais.</p>
        <div class="button-group">
            <a class="button-primary" href="#map">Explorar mapa <img src="/static/icon/arrow-down.svg" alt=""></a>
        </div>
    </header>
    <main>
        <div id="map"></div>
        <form>
            <select id="category-select" name="category-select" aria-label="Selecione a categoria para filtrar">
                <button>
                    <selectedcontent></selectedcontent>
                </button>
                <option value="all">
                    <div class="icon"><i data-lucide="map" aria-hidden="true"></i></div>
                    <div class="content">
                        <span class="text-body">Mostrar tudo</span>
                    </div>
                </option>
                {% for row in categories %}
                <option value="{{ row['name'] }}">
                    <div class="icon"><i data-lucide="{{ row['icon'] }}" alt=""></i></div>
                    <span class="text-body">{{ row["name"] }}</span>
                    </div>
                </option>
                {% endfor %}  
            </select>  
        </form>
        <div class="marker">
        </div>
        <div id="card" class="hidden">
            <div class="header">
                <div class="tag">
                    <i data-lucide="milestone"></i>
                    <p>Label</p>
                </div>
                <button class="close">
                    <i data-lucide="x"></i>
                </button>
            </div>
            <div class="content">
                <p class="title">Title</p>
                <p class="address">Address</p>
            </div>
            <p class="description">Description</p>
            <a class="route-link" href="#" target="_blank">
                Ver rota
            </a>
        </div>
    </main>
    <footer>
        Designed and coded by <a href="https://github.com/sabrigs">Sabrina Silva</a>
    </footer>

    <script id="recycle-map-data" type="application/json">
        {{ {"places": places, "categories": categories} | tojson }}
    </script>
    <script src="/static/script.js"></script>
</body>
</html>